body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
h1{
  color:black;
}
.dev{
  background-color: aqua;
  padding: 20px;
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
}